body {
    font-family: 'Courier New', Courier, monospace;}

h1 {
    color: purple;
    font-size: 40px;}

h2 {
    color: purple;}

img {
    height: 200px;
    margin rigth: 20px;
    width: 250px;
}

p {
    text-align: left;
    font-size: 20px;}

footer {
    text-align: center;
    font-size: 18px;}

a {
    font-size: 28px;
    color: green;}

a:hover {
    background-color: blue;
    color: white;
    text-decoration: none;}
